<footer class="footer">
  <div class="footer__container">

    <div class="footer__logo">
      <span class="footer__brand">KIKSTORM</span>
      <p class="footer__tagline">El estilo empieza desde abajo.</p>
    </div>

    <div class="footer__links">
      <a routerLink="/"           class="footer__link">Inicio</a>
      <a routerLink="/productos"  class="footer__link">Productos</a>
      <a routerLink="/contacto"   class="footer__link">Contacto</a>
    </div>

    <div class="footer__social">
      <i class="pi pi-instagram"></i>
      <i class="pi pi-facebook"></i>
      <i class="pi pi-tiktok"></i>
    </div>

    <p class="footer__copy">
      &copy; {{ year }} KIKSTORM. Todos los derechos reservados.
    </p>
  </div>
</footer>

