<main class="main">
  <!-- Filtros -->
  <aside class="filters">
    <h2 class="filters__title">FILTRAR POR</h2>

    <div class="filter">
      <label class="filter__label">Categoría</label>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> Zapatillas
      </div>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> Botitas
      </div>
    </div>

    <div class="filter">
      <label class="filter__label">Marca</label>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> Puma
      </div>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> Fila
      </div>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> Adidas
      </div>
    </div>

    <div class="filter">
      <label class="filter__label">Talle</label>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> 38
      </div>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> 39
      </div>
      <div class="filter__div">
        <input class="filter__input" type="checkbox" /> 40
      </div>
    </div>
  </aside>

  <!-- Productos -->
  <section class="col-12 col-md-9">
    <div class="col-6 col-md-4" *ngFor="let shoe of shoes">
      <app-shoe [shoe]="shoe" />
    </div>
  </section>
</main>
