.main {
  display: flex;
  flex-direction: column; /* 👈 de row a column */
  background: var(--color-secundario);
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.filters {
  flex: 1;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.filters__title {
  font-size: 1.1rem;
}

.products {
  flex: 3;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.products__div {
  background: var(--color-primario);
  border: 2px solid var(--color-primario);
  /* border-radius: 8px; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}
