.main {
  display: flex;
  flex-direction: column; 
  background: rgb(82, 79, 72);
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.filters {
  flex: 1;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.filters__title {
  font-size: 1.1rem;
}

.products {
  flex: 3;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.products__div {
  background: var(--color-primario);
  border: 2px solid var(--color-primario);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}

.hero {
  position: relative;
  padding: 4rem 2rem;
  background-image: url('/img/walking.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  overflow: hidden;
  color: white;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.hero-content h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: 'Bebas Neue', sans-serif; 
  letter-spacing: -.1rem;
}

.hero-content p {
  font-size: 1rem;
  color: #8a8484;
}