<main class="main">
    <div class="hero">
       <div class="hero-content">
          <h2>Zapatillas para cada paso</h2>
          <p>Filtrá por marca, color o talle y encontrá lo que estás buscando</p>
       </div>
    </div>

    <div class="main-content">
  <aside class="filters">
    <app-filters
      [marcas]="marcas"
      [talles]="talles"
      [colores]="colores"
      [sexos]="sexos"
      [selectedMarcas]="selectedFilters.marcas"
      [selectedTalles]="selectedFilters.talles"
      [selectedColores]="selectedFilters.colores"
      [selectedSexos]="selectedFilters.sexos"
      [searchTerm]="searchTerm"
      [minPrice]="minPrice"
      [maxPrice]="maxPrice"
      (marcaToggled)="toggleMarca($event)"
      (talleToggled)="toggleTalle($event)"
      (colorToggled)="toggleColor($event)"
      (sexoToggled)="toggleSexo($event)"
      (searchTermChange)="onSearchTermChange($event)"
      (minPriceChange)="onMinPriceChange($event)"
      (maxPriceChange)="onMaxPriceChange($event)"
    />
  </aside>

  <!-- Productos -->
 <section class="products">
  <div class="products__div"
       *ngFor="let zapatilla of filteredZapatillas"
       (click)="openDetail(zapatilla)">          

    <app-shoe
      [zapatilla]="zapatilla"
      (detalle)="openDetail($event)">           
    </app-shoe>

  </div>
</section>

</div>
<app-footer />
</main>