<main class="main">
  <!-- Filtros -->
  <aside class="filters">
    <h2 class="filters__title">FILTRAR POR</h2>

    <div class="filter">
      <label class="filter__label">Marca</label>
      <div class="filter__div" *ngFor="let marca of marcas">
        <input type="checkbox" (change)="toggleMarca(marca)" />
        {{ marca | titlecase }}
      </div>
    </div>

    <div class="filter">
      <label class="filter__label">Talle</label>
      <div class="filter__div" *ngFor="let talle of talles">
        <input type="checkbox" (change)="toggleTalle(talle)" /> {{ talle }}
      </div>
    </div>
  </aside>

  <!-- Productos -->
  <section class="products">
    <div class="products__div" *ngFor="let zapatilla of filteredZapatillas">
      <app-shoe [zapatilla]="zapatilla" />
    </div>
  </section>
</main>
