.filter {
  margin-bottom: 1rem;
}

.filter__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.filter__div {
  display: flex;
  gap: 0.5rem;
}

.filter__input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filters__price{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input__search{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  color: black;
}

.container-filters{
  background-color: var(--color-acento);
  padding: 2rem;
}

.filters__title{
  font-family: 'Bebas Neue', sans-serif; 
}

.aside-container{
  margin-top: 2rem;
}

.aside img{
  width: 100%;
  height: auto;
}