<div class="container-filters">
  <h2 class="filters__title" id="filtros">FILTRAR POR</h2>

<div class="filter">
  <label class="filter__label">Buscar</label>
  <input
    type="text"
    placeholder="Buscar por nombre o descripción"
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchTermChange()"
    class="input__search"
  />
</div>

<div class="filter">
  <label class="filter__label">Precio</label>
  <div class="filters__price">
    <input
    type="number"
    placeholder="Precio mínimo"
    [(ngModel)]="minPrice"
    (ngModelChange)="onMinPriceChange()"
    class="input__search"
  />
  <input
    type="number"
    [ngModel]="maxPrice"
    (ngModelChange)="onMaxPriceInput($event)"
    placeholder="Precio máximo"
    class="input__search"
  />
  </div>
</div>

<div class="filter">
  <label class="filter__label">Marca</label>
  <div class="filter__div" *ngFor="let marca of marcas">
    <input
      type="checkbox"
      [checked]="isChecked(selectedMarcas, marca)"
      (change)="toggleMarca(marca)"
    />
    {{ marca | titlecase }}
  </div>
</div>

    <div class="filter">
      <label class="filter__label">Color</label>
      <div class="filter__div" *ngFor="let color of colores">
        <input
          type="checkbox"
          [checked]="isChecked(selectedColores, color)"
          (change)="toggleColor(color)"
        />
        {{ color | titlecase }}
      </div>
    </div>

    <div class="filter">
      <label class="filter__label">Talle</label>
      <div class="filter__div" *ngFor="let talle of talles">
        <input
          type="checkbox"
          [checked]="isChecked(selectedTalles, talle)"
          (change)="toggleTalle(talle)"
        />
        {{ talle }}
      </div>
    </div>

    <div class="filter">
      <label class="filter__label">Sexo</label>
      <div class="filter__div" *ngFor="let sexo of sexos">
        <input
          type="checkbox"
          [checked]="isChecked(selectedSexos, sexo)"
          (change)="toggleSexo(sexo)"
        />
        {{ sexo | titlecase }}
      </div>
    </div>
</div>

<div class="aside-container">
  <div class="aside">
    <img [src]="aside" alt="aside">
  </div>
</div>
