.shoe__link{
    display: block;
    text-decoration: none;
    color: inherit;
}

.shoe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoe__image{
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 8px;
}

.shoe__talles{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.shoe__talle{
    padding: 0.25rem .5rem;
    background-color: var(--color-acento);
    border-radius: 4px;
    border: none;
    color: var(--color-primario);
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
}

.shoe__link:hover .shoe__talle {
  opacity: 1;
}

.shoe__brand{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-secundario);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .2rem;
}

.shoe__title{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color-secundario);
    font-family: 'Bebas Neue', sans-serif;
}

.shoe__prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.shoe__price{
    font-size: 1.2rem;
    color: var(--color-secundario);
    font-family: 'Bebas Neue', sans-serif;
}

.shoe__add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--color-acento);
    color: var(--color-primario);
    border-radius: 4px;
    border: none;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}
