/* You can add global styles to this file, and also import other style files */
:root {
  --color-primario: #1C1C1E;      /* Negro carbón */
  --color-secundario: #FFFFFF;    /* Blanco */
  --color-acento: #FFD60A;        /* Amarillo neón */
  --color-danger: #f01111;   /* Gris claro */
}

/* font-family: 'Bebas Neue', sans-serif; 
  font-family: 'Open Sans', sans-serif;

*/
